<div style="padding: 10px" *ngIf="show">
    <table class="light-table" style="margin-bottom: 15px">
        <tr>
            <td>
                <select 
                    [id]="filterObject['columnName']+'data_fullness_state'" 
                    [name]="filterObject['columnName']+'data_fullness_state'"
                    value = "{{ filterObject['type'] < 100 ? '' : filterObject['type'].toString() }}"
                    style="margin-bottom: 10px;"
                    class="show-tick ms form-control data_fullness_state"
                    (change)="formElementChangeEvent($event)"
                    #dataFullnessState>
                    
                    <option value="">
                        Tümü
                    </option>
                    <option value="100">
                        Boş Olanlar
                    </option>
                    <option value="101">
                        Boş Olmayanlar                                                                                        
                    </option>
                </select>
            </td>
        </tr><tr *ngIf="dataFullnessState.value == ''" style="min-height: 80; height:auto">
            <form-element 
                style="display: contents;"
                name="{{ filterObject['columnName'] }}_filter_detail"
                columnName="{{ filterObject['columnName'] }}"
                class="form-control"
                baseUrl="{{ baseUrl }}"
                type="{{ filterObject['guiTypeForQuery'] }}"
                placeholder="{{ displayName }}"
                showFilterTypesSelect="true"
                filterType="{{ filterObject['type'] }}"
                value="{{ filterObject['filter'] }}"
                (changed)="formElementChangeEvent($event)"
                value2="{{ filterObject['filter2'] }}">
            </form-element>              
        </tr>
    </table>

    <button *ngIf="showButtons" (click)="detailFilter(null, $event)" type="button" class="btn btn-primary">Filtrele</button>
    <button *ngIf="showButtons" type="button" class="btn btn-danger" data-dismiss="modal">İptal</button>                

</div>